*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(assets/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body h2 {
    font-family: "Bungee", sans-serif;
    font-size: 40px;
    color: rgb(213, 189, 175);
}

#fragment-of {
    margin: 0px 0px 0px 50px ;
}

#change1 {
    margin: 50px 0px 50px 400px;
    color: rgba(247, 33, 25, 0.4);
    backdrop-filter: 5px;
    font-style: italic;
}

#built-with {
    margin: 0px 0px 0px 50px ;
}

#change2 {
    margin: 50px 0px 50px 400px;
    color: rgba(247, 33, 25, 0.4);
    backdrop-filter: 5px;
    font-style: italic;
}

.home-p p{
    font-size: 40px;
    padding: 10px;
    background-color: rgba(213, 189, 175, 0.3);
    margin: 20px;
    border: 2px dashed rgb(247, 33, 25);
}

body p {
    font-family: "Orbitron", sans-serif;
     color: beige;
}

body ul {
    font-family: "Orbitron", sans-serif;
    color: white;
}

header {
    background-color: rgba(72, 65, 60, 0.3);
    backdrop-filter: blur(4px);
    border: 2px dashed rgb(247, 33, 25);
    border-radius: 20px;
    position: sticky;
    top: 10px;
    z-index: 10;
    margin: 10px;
    padding: 0px;
}

.logo {
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    margin: 0px;
    padding: 6px 0px 5px 10px;
    font-family: "Tiny5", sans-serif;
    font-weight: 800;
    color: rgb(213, 189, 175);
    cursor: default;
    transition: color 0.7s linear;
}

.navbar h1:hover {
    color: rgb(247, 33, 25);
}

.navbar a:hover {
    color: rgba(72, 65, 60, 0.5);
}

.navbar nav{
    margin: 5px;
    padding: 5px;
}

.navbar a{
    font-family: "Bungee", sans-serif;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(213, 189, 175);
    transition: color 0.3s linear;
}

hr {
    border: none;
    border-top: 2px dashed rgba(213, 189, 175, 0.5);
    margin: 10px;
}

.project1 {
    background-color: rgba(213, 189, 175, 0.3);
    border: 2px dashed rgb(247, 33, 25);
    margin: 20px;
    padding: 10px;
}

.card-h2 h2 {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    cursor: default;
}

.card-h2-border {
    border: 2px dashed rgb(247, 33, 25);
    border-radius: 30px;
    padding: 10px;
}

.card-p {
    font-size: 40px;
    padding: 10px;
}

.card {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    margin: 30px;
    font-size: 35px;
}

.download {
    margin: 30px;
    font-size: 35px;
}

.tryit {
    margin: 30px;
    font-size: 35px;
}

.github a {
    font-family: "Bungee", sans-serif;
    color: beige;
    padding: 15px;
    text-decoration: none;
    background-color: rgba(213, 189, 175, 0.5);
    border: 2px dashed rgb(247, 33, 25);
    border-radius: 30px;
    transition: background-color 0.35s linear;
}

.download a {
    font-family: "Bungee", sans-serif;
    color: beige;
    padding: 15px;
    text-decoration: none;
    background-color: rgba(213, 189, 175, 0.5);
    border: 2px dashed rgb(247, 33, 25);
    border-radius: 30px;
    transition: background-color 0.35s linear;
}

.tryit a {
    font-family: "Bungee", sans-serif;
    color: beige;
    padding: 15px;
    text-decoration: none;
    background-color: rgba(213, 189, 175, 0.5);
    border: 2px dashed rgb(247, 33, 25);
    border-radius: 30px;
    transition: background-color 0.35s linear;
}

.github a:hover {
    background-color: black;
}

.download a:hover {
    background-color: black;
}

.tryit a:hover {
    background-color: black;
}

.project2 {
    background-color: rgba(213, 189, 175, 0.3);
    border: 2px dashed rgb(247, 33, 25);
    margin: 20px;
    padding: 10px;
}

.project3 {
    background-color: rgba(213, 189, 175, 0.3);
    border: 2px dashed rgb(247, 33, 25);
    margin: 20px;
    padding: 10px;
}

.me {
    display: flex;
    justify-content: space-between;
    background-color: rgba(213, 189, 175, 0.3);
    border: 2px dashed rgb(247, 33, 25);
    margin: 20px;
    padding: 10px;
}

.me p {
    font-size: 40px;
    padding: 30px;
}

.me img {
    border: 2px solid rgb(247, 33, 25);
    border-radius: 10px;
}

.hobbies1 {
    font-size: 40px;
    padding: 30px;
    background-color: rgba(213, 189, 175, 0.3);
    border: 2px dashed rgb(247, 33, 25);
}

.hobbies ul {
    color: beige;
    padding: 30px;
}

.contact {
    background-color: rgba(213, 189, 175, 0.3);
    border: 2px dashed rgb(247, 33, 25);
    margin: 20px;
    padding: 10px;
}

.contact-p {
    font-size: 40px;
}

.instagram {
    margin: 30px;
    font-size: 35px;
}

.mail {
    margin: 30px;
    font-size: 35px;
}

.mail a {
    font-family: "Bungee", sans-serif;
    color: beige;
    padding: 15px;
    text-decoration: none;
    background-color: rgba(213, 189, 175, 0.5);
    border: 2px dashed rgb(247, 33, 25);
    border-radius: 30px;
    transition: background-color 0.35s linear;
}

.instagram a {
    font-family: "Bungee", sans-serif;
    color: beige;
    padding: 15px;
    text-decoration: none;
    background-color: rgba(213, 189, 175, 0.5);
    border: 2px dashed rgb(247, 33, 25);
    border-radius: 30px;
    transition: background-color 0.35s linear;
}

.mail a:hover {
    background-color: black;
}

.instagram a:hover {
    background-color: black;
}

.contact {
    align-items: center;
}

.contact-a {
    display: flex;
    justify-content: flex-start;
}

.footer {
    display: flex;
    justify-content: center;
}

.h2-dec {
    display: flex;
    justify-content: center;
    background-color: rgba(247, 33, 25, 0.4);
    border: 2px dashed beige;
    margin: 0px;
    padding: 0px;
}

#bootscreen {
    background-color: #07080C;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 9999;
    transition: opacity 0.6s ease;
}

#boottext {
    font-size: 50px;
    font-weight: 700;
    font-family: "Tiny5", sans-serif;
    color: rgb(247, 33, 25);
}

#bootscreen.hide {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 768px) {

    body h2 {
        font-size: 30px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar a {
        font-size: 16px;
        padding: 6px;
    }

    #change1,
    #change2 {
        margin: 20px 0;
    }

    .home-p p {
        font-size: 20px;
        margin: 10px;
    }

    .card-p {
        font-size: 20px;
    }

    .card {
        flex-wrap: wrap;
    }

    .me {
        flex-direction: column;
        align-items: center;
    }

    .me p {
        font-size: 20px;
    }

    .me img {
        width: 250px;
        height: auto;
    }

    .hobbies1 {
        font-size: 20px;
    }

    .contact-p {
        font-size: 20px;
    }

    .contact-a {
        flex-wrap: wrap;
        justify-content: center;
    }

}

body h2 {
    font-size: 40px;
}
