*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body {
    background-image: url(assests/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body h2 {
    font-family: "Bungee", sans-serif;
    font-size: 70px;
    color: rgb(213, 189, 175);
}

#fragment-of {
    margin: 0px 0px 0px 50px ;
}

#change1 {
    margin: 50px 0px 50px 400px;
    color: rgba(247, 33, 25, 0.4);
    backdrop-filter: 5px;
}

#built-with {
    margin: 0px 0px 0px 50px ;
}

#change2 {
    margin: 50px 0px 50px 400px;
    color: rgba(247, 33, 25, 0.4);
    backdrop-filter: 5px;
}

body p {
    font-family: "Orbitron", sans-serif;
    color: white;
}

body ul {
    font-family: "Orbitron", sans-serif;
    color: white;
}

header {
    background-color: rgba(72, 65, 60, 0.3);
    backdrop-filter: blur(4px);
    border: 2px solid rgb(247, 33, 25);
    border-radius: 20px;
    position: sticky;
    top: 10px;
    z-index: 10;
    margin: 10px;
    padding: 0px;
}

.logo {
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    margin: 0px;
    padding: 6px 0px 5px 10px;
    font-family: "Tiny5", sans-serif;
    font-weight: 800;
    color: rgb(213, 189, 175);
    cursor: default;
    transition: color 0.7s linear;
}

.navbar h1:hover {
    color: rgb(247, 33, 25);
}

.navbar a:hover {
    color: rgba(72, 65, 60, 0.5);
}

.navbar nav{
    margin: 5px;
    padding: 5px;
}

.navbar a{
    font-family: "Bungee", sans-serif;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(213, 189, 175);
    transition: color 0.3s linear;
}

